extends templates/layout

block content
  if (errorMassge)
    p= errorMassge
  form(method="POST")
    input(name="name", type="text", placeholder="Name", reqruied)
    input(name="username", type="text", placeholder="Username", reqruied)
    input(name="password", type="password", placeholder="Password", reqruied)
    input(
      name="password1",
      type="password",
      placeholder="Confirm Password",
      reqruied)
    input(type="submit", value="JOIN")
