extends layout/layout

block content
  form(method="POST")
    input(name="email", type="email", placeholder="Your Email..")
    input(name="password", type="password", placeholder="Your password..")
    input(type="submit", value="Login")
