extends ../layout/layout
include ../mixins/video

block content
  h2= user.name
  img(src="/" + user.avatarUrl, width="100", height="100")
  p= user.email
  p= user.location

  each video in user.videos 
    +video(video)
  else
    li Sorry nothing found.
